@import "tailwindcss";

header{
    background-color: rgb(30, 31, 37);
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

h1{
    font-size: 1rem;
}